<!DOCTYPE html>
<html>
<head>
    <link href="../public/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="../public/stylesheets/style.css" rel="stylesheet">
    <script type="text/javascript" src="../public/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="../public/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../public/javascripts/app.js"></script>
</head>
<body>
<h1>calculator</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="screen">
            <h3 class="numDisplay"></h3></div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-1">
            <div class="key num" id="7">7</div>
        </div>
        <div class="col-md-1">
            <div class="key num" id="8">8</div>
        </div>
        <div class="col-md-1">
            <div class="key num" id="9">9</div>
        </div>
        <div class="col-md-1">
            <div class="key operator" id="divide">/</div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-1">
            <div class="key num" id="4">4</div>
        </div>
        <div class="col-md-1">
            <div class="key num" id="5">5</div>
        </div>
        <div class="col-md-1">
            <div class="key num" id="6">6</div>
        </div>
        <div class="col-md-1">
            <div class="key operator" id="times">*</div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-1">
            <div class="key num" id="1">1</div>
        </div>
        <div class="col-md-1">
            <div class="key num" id="2">2</div>
        </div>
        <div class="col-md-1">
            <div class="key num" id="3">3</div>
        </div>
        <div class="col-md-1">
            <div class="key operator" id="minus">-</div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-1">
            <div class="key num" id="0">0</div>
        </div>
        <div class="col-md-1">
            <div class="key" id="dot">.</div>
        </div>
        <div class="col-md-1">
            <div class="key equals" id="result">=</div>
        </div>
        <div class="col-md-1">
            <div class="key operator" id="add">+</div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <div class="clear">clear</div>
        </div>
    </div>
</div>

</body>
</html>